.App {
  margin: 80px 300px;
 
  border-radius: 20px;
}

.weather-content {
  padding: 70px;
}

.weather-info {
  margin-top: 30px;
}

.background-img {
  background: no-repeat center fixed;
  background-size: cover;
  border-radius: 20px;
}

li {
  list-style: none;
  margin-left: -32px;
}

.main-units-temp {
  font-size: 20px;
  position: relative;
  top: -22px;
}

#main-celsius-link {
  text-decoration: none;
}

.units-temp {
  font-size: 10px;
  position: relative;
  top: -5px;
}

#celsius-link {
  text-decoration: none;
}

.weather-temperature {
  display: inline-block;
  font-size: 54px;
}

.icon {
  position: relative;
  top: 8px;
}

.weather-details, .date-time {
  text-align: center;
}

.forecast-title{
  text-align: center;
}

.forecast {
  margin-top: 40px;
  margin-right: -90px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.unit {
  font-size: 12px;
  position: relative;
  top: -3px;
}

.btn {
  background-color: rgb(228, 200, 183);
}

footer {
  color: gray;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: -60px;
}
