.App {
  margin: 100px 200px;
  padding: 100px;
  border: 1px solid gray;
  border-radius: 20px;
}

.weather-info {
  margin-top: 30px;
}

li {
  list-style: none;
  margin-left: -32px;
}

.main-units-temp {
  font-size: 20px;
  position: relative;
  top: -14px;
}

#main-fahrenheit-link, #main-celsius-link {
  text-decoration: none;
}

.units-temp {
  font-size: 10px;
  position: relative;
  top: -5px;
}

#fahrenheit-link, #celsius-link {
  text-decoration: none;
}
